<%= form_for @mark do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.label :assessment_id %><br />
    <%= f.text_field :assessment_id %>
  </p>
  <p>
    <%= f.label :sheet_id %><br />
    <%= f.text_field :sheet_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
