<h3><%= "#{@marker.first} #{@marker.last}" %></h3>
<p>
    <b>EMail: </b><%= @marker.email %>
    &nbsp;&nbsp;&nbsp;
    <b>Abbreviation:</b><%= @marker.abbr %>
</p>

<% unless @sheets.empty? %>

<h3>Completed Mark Sheets (<%=@marker.sheets.size%>)</h3>
<%= will_paginate @sheets %>
<table class="pretty">
  <tr>
    <th><%= sortable "last", "Student" %></th>
    <th>Partner</th>
    <th><%= sortable "title", "Experiment" %></th>
    <th><%= sortable "updated_at", "Updated" %></th>
    <th>Total</th>
    <th>Ret(%)</th>
  </tr>
  <% for sheet in @sheets %>
    <tr>
      <td><%= truncate("#{sheet.student.last},#{sheet.student.first}",
              length: 20, separator: ' ')%></td>
      <td><%= truncate("#{sheet.partner.last},#{sheet.partner.first}",
              length: 20, separator: ' ')%></td>
      <td><%= sheet.experiment.title %></td>
      <td><%= sheet.updated_at %></td>
      <td style="text-align:center;"><%= sheet.total_mark %></td>
      <td style="text-align:center;"><%= (100 * sheet.return_mark).to_i %></td>
      <td><%= link_to "Show", sheet %></td>
      <td><%= link_to "Edit", edit_sheet_path(sheet) %></td>
      </td>
      <td><% if is_admin? %>
        <%= link_to "Destroy", sheet, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% end %>

<p><%= link_to "Create New Mark Sheet", new_sheet_path %></p>

