<%= form_for @sheet do |f| %>
  <%= f.error_messages %>
  <div style="width:"400px">
  <p>
    <%= f.label :student_id %><br />
    <%= collection_select(:sheet, :student_id, Student.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :partner_id %><br />
    <%= collection_select(:sheet, :partner_id, Student.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :experiment_id %><br />
    <%= collection_select(:sheet, :experiment_id, Experiment.all, :id, :title) %>
  </p>
  <p>
    <%= f.label :marker_id %><br />
    <%= collection_select(:sheet, :marker_id, Marker.all, :id, :name,
    {:selected => current_marker.id}) %>
  </p>
  </div>

  <div style="float:right;width:400px;">
    <%= f.label "Marks Breakdown" %><br />
    <table>
    <% f.fields_for :assessments do |builder| %>
      <tr>
        <td> <%= builder.name %> </td>
        <td> <%= builder.value %> </td>
        <td> mark goes here </td>
      </tr>
    <% end %>
    </table>
  </div>


  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.label :raw_mark %><br />
    <%= f.text_field :raw_mark %>
  </p>
  <p>
    <%= f.label :ret_mark %><br />
    <%= f.text_field :ret_mark %>
  </p>
  <p><%= f.submit %></p>
<% end %>
