<table>
  <tr>
    <th>Student</th>
    <th>Partner</th>
    <th>Experiment</th>
    <th>Marker</th>
    <th>Total</th>
    <th>Ret(%)</th>
  </tr>
  <% for sheet in @sheets %>
    <tr>
      <td><%= "#{sheet.student.last},#{sheet.student.first}"%></td>
      <td><%= "#{sheet.partner.last},#{sheet.partner.first}"%></td>
      <td><%= sheet.experiment.title %></td>
      <td><%= sheet.marker.abbr %></td>
      <td style="text-align:center;"><%= sheet.total_mark %></td>
      <td style="text-align:center;"><%= (100 * sheet.return_mark).to_i %></td>
      <td><%= link_to "Show", sheet %></td>
      <td><%= link_to "Edit", edit_sheet_path(sheet) %></td>
      </td>
      <td><% if is_admin? %>
        <%= link_to "Destroy", sheet, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Sheet", new_sheet_path %></p>
