  <div style="width:"400px;">
  <p style="font-size:small;">
  Marksheet created at: <%= @sheet.created_at %>;
  last modified by marker at <%= @sheet.updated_at %>.
  </p>
  </div>
  <table class="table">
    <tr style="background:#eef;">
      <td>
        <b>Student:</b> 
        <%= "#{@sheet.student.first} #{@sheet.student.last}" %>
      </td>
      <td>
        <b>Partner:</b> 
        <%= "#{@sheet.partner.first} #{@sheet.partner.last}" %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Experiment:</b> 
        <%= @sheet.experiment.title %>
      </td>
      <td>
        <b>Marker:</b> 
        <%= "#{@sheet.marker.first} #{@sheet.marker.last}" %>
      </td>
    </tr>
  </table>

  <div style="width:40%;float:right">
    <b>Marks Breakdown</b><br />
    <table class="table-condensed">
      <tr>
        <td> <%= MARK1_CRITERION %></td>
        <td style="text-align:right;"> <%= @sheet.mark1 %> </td>
      </tr>
      <tr>
        <td> <%= MARK2_CRITERION %></td>
        <td style="text-align:right;"> <%= @sheet.mark2 %> </td>
      </tr>
      <tr>
        <td> <%= MARK3_CRITERION %> </td>
        <td style="text-align:right;"> <%= @sheet.mark3 %> </td>
      </tr>
      <tr>
        <td> <%= MARK4_CRITERION %> </td>
        <td style="text-align:right;"> <%= @sheet.mark4 %> </td>
      </tr>
      <tr class="border-top-thin">
        <td> Total Mark (/20)</td>
        <td style="text-align:right;"> <%= @sheet.total_mark %> </td>
      </tr>
      <tr class="border-top-thick">
        <td> Returned Mark (%)</td>
        <td style="text-align:right;"> <b><%= @returned_mark %></b> </td>
      </tr>
    </table>
  </div>
  <div style="width:50%;">
    <b>Comments</b></br>
    <div style="height:12em;border:1px solid black;">
      <%= @sheet.comments %>
    </div>
  </div>
  <hr/>
    <p>
    <ul class="inline">
    <li><%= link_to "Edit", edit_sheet_path(@sheet),
        class: "btn btn-warning btn-xs" %> </li>
    <% if is_admin? %>
      <li><%= link_to "Destroy", @sheet, 
          :confirm => 'Are you sure?', 
          :method => :delete, class: "btn btn-danger btn-xs" %> </li>
      <li><%= link_to "View All", current_marker,
          class: "btn btn-primary btn-xs" %></li>
    <% end %>
    </ul>
    </p>
</div>
