<% title "Experiments" %>

<table>
  <tr>
    <th>Title</th>
    <th>Desc</th>
  </tr>
  <% for experiment in @experiments %>
    <tr>
      <td><%= experiment.title %></td>
      <td><%= experiment.desc %></td>
      <td><%= link_to "Show", experiment %></td>
      <td><%= link_to "Edit", edit_experiment_path(experiment) %></td>
      <td><%= link_to "Destroy", experiment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Experiment", new_experiment_path %></p>
