<p>
  <strong>Title:</strong>
  <%= @experiment.title %>
</p>
<p>
  <strong>Desc:</strong>
  <%= @experiment.desc %>
</p>

<p>
  <%= link_to "Edit", edit_experiment_path(@experiment) %> |
  <%= link_to "Destroy", @experiment, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to "View All", experiments_path %>
</p>
